-c requirements.txt
pytest
tox
tox-gh-actions
sphinx
sphinx-autobuild
sphinx-autodoc-typehints
recommonmark
sphinx-bootstrap-theme
sphinx-toolbox
nbsphinx
jupyter
ipywidgets<8.0.0
black
pre-commit
nbdev>=2.3.1
-e file:.

