-c requirements.txt
pytest
tox
tox-gh-actions
sphinx
sphinx-autobuild
sphinx-autodoc-typehints
recommonmark
sphinx-bootstrap-theme
sphinx-toolbox
nbsphinx
ipykernel
ipywidgets<8.0.0
black[jupyter]
pre-commit
